# Test requirements for ha-enocean
pytest==8.0.2
pytest-asyncio==0.23.5
pytest-aiohttp==1.0.5
pytest-cov==4.1.0
pytest-timeout==2.2.0
pytest-homeassistant-custom-component==0.13.109

# Dependencies for the custom component
homeassistant>=2024.1.0,<2024.4.0
enocean-extended==1.0.0
beautifulsoup4==4.12.3
lxml==5.3.0
voluptuous==0.13.1
